*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100vw;
    height: 100vh;
  }

header {
  width: 100%;
  padding: 15px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
}


#see-dictionary {
  padding: 6px;
  margin-left: 300px;
  font-size: 18px;
  display: flex;
  justify-content: end;
  color: black;
  text-decoration: none;
}

#see-dictionary:hover {
  color: white;
  text-decoration:underline;
}
  
/* ----------------------------------------------------------------------- */

.first-box{
  width: 100%;
  display: flex;
  justify-content: center;
}

#order {
  margin-top: 10px;
}

#categories {
  margin-top: 10px;
}



/* ----------------------------------------------------------------------- */
.second-box {
  width: 50%;
  font-size: 20px;
  display: flex;
  margin-top: 70px;
  align-items: center;
  flex-direction: column;
}

.second-box radio-button {
  margin-top: 10px;
}




/* --------------------------------------------------------------------------- */

.third-box {
  width: 50%;
  margin-top: 70px;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#order {
  width: 13%;
  display: flex;
  justify-content: center;
}